.panel-image {

  &:hover {

    .panel-image-prop {

      img {
        opacity: 0.5;
        background: $black;
      }
    }

    .hrefTypeOne {
      display: block;
    }

    .hrefTypeTwo {
      display: block;
    }
  }
}

//.collapse {
//  @media (min-width: $screen-lg-min) {
//    display: none!important;
//  }
//
//
//}

#bs-example-navbar-collapse-1 {
  /*background-color:#191919;*/
  position: relative;
  top:23px;

  @media (min-width: $screen-sm-min) {
    position: unset;
    top:0px;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  top:0px;

  @media (min-width: $screen-sm-min) {
    position: unset;
    width: unset;
    float: none;
  }
  
  @media (min-width: $screen-md-min) {
    float: none;
    
  }
}

.in {
  width: 100%;
  background: #191919;

  .nav,
  .navbar-nav {
    background: #191919!important;

    margin-bottom: 20px;
  }

}

.mini {
  outline: 0px solid;

  .container {
  
  }

  #meme {
    width: 100%;
    max-width: 372px;
    height: 238px;
    border-radius: 5px;

    .authoR {
      display: none;
    }

    .neW {
      height: 187px;
    }

    .entry-title {
      font-size: 15px;
      font-weight: 900;
      line-height: 37px;
      top: 57px;
    }

    .bottom-content {
      bottom: -53px;
      height: 45px;

      img {
        //width: 20px;
        //width: 18px;
        //top:0px;
        //position: relative;
      }

      span {
        font-size: 13px;
        top: -4px;
        left: 7px;
      }

      .postCalendar {
        //top: 27px;
        padding: 0;
        max-width: 85px;

        img {
          margin-left: 0;
          height: 18px;
          width: 18px;
          top: 1px;
        }
      }

      .postView {
        max-width: 108px;
        top: 4px;
      }

    }

    .hrefTypeTwo{
      width: 18px;
      height: 18px;
      background-size: contain;
      bottom: 12px;
      bottom: -37px;
      right: 6px;

      border: 1px solid white;
      border-radius: 50%;

      span {
        font-size: 13px;
        top:0px;
        right: 0px;
      }
    }

    .postView {
      //display: none;
    }

    .postViewData {
      padding: 0;
      left: 0px;
      position: relative;
     

      span{
        font-size: 13px;
        top: -3px;
        left: 7px;
      }

      img {
        top:2px;
        height: 18px!important;;
        width: 18px!important;

      }
    }

    .newBgRed {
      height: 38px;
      line-height: 38px;
      left: 0px;

      a{
        font-size: 16px;
      }
    }

    .authoR {
      height: 37px;
    }

    .authoR p {
      top: 9px;
      font-size: 13px;
    }

    .authoR img {
      top: 13px;
      right: 30px;
      width: 18px;
    }
  }
}


.neW {

  .newBgRed {
    display: inline-block;
    height: 57px;
    background:#2396d5 ;
    position: absolute;
    color: $white!important;
    font-weight: 900;
    font-size: 25px;
    text-align: center;

    line-height: 57px;
    padding: 0 10px;
    border-radius: 6px 0 4px 0;
    position: relative;
    left: 0px;

    @media (min-width: $screen-lg-min) {
      border-radius: 3px 0 4px 0;
      left: 0px;
      padding: 0px 18px;
    }

    //line-height: 57px;
    //padding: 0px 10px;
    //border-radius: 12px 0px 12px 0px;

    a {
      color: $white!important;
      text-decoration: none;
      font-weight: 900;
      font-size: 0.71em;
    }
  }

  .entry-title {
    position: absolute;
    font-size: 2em; 
    line-height: 3em; 
    top:100px;
    font-weight: 900;
    color: $black;
    width: 88%;
    left:0 ;
    text-transform: uppercase;

    @media (min-width: $screen-md-min){
      width: 96%;
      left: 0;
    }
  }

  .bottom-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 99;
    width: 68%;

    width: 100%;
    background: #2396d5;
    height: 45px;
    line-height: 49px;


    @media (min-width: $screen-md-min) {
      bottom: 0px;
    }
    @media (min-width: $screen-lg-min) {
      bottom: 0px;
    }

    .postCalendar,
    .postView,
    .postViewData {
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .postCalendar{
      left: 10px;

      @media (min-width: $screen-lg-min) {
        width: 100%;
        max-width: 130px;
      }

      span {
        position: relative;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        left: 11px;
        top: 0;
        line-height: 32px; 
      }

      img {

        @media (min-width: $screen-lg-min) {
          width: 25px;
          /* padding: 10px; */
          height: 23px;
          margin-left: 7px;
          margin-top: 0px;
          position: relative;
          top: 0px;
        }

      }
    }

    .postView {
      
      width: 100%;
      max-width: 130px;

      span {
        position: relative;
        color: $white;
       
        font-size: 1em;
        font-weight: 700;
        display: inline-block;
        line-height: 3em;
        vertical-align: top;
        height: 2em;
      }

      img {

        @media (min-width: $screen-lg-min) {


          width: 33px;
          height: 23px;
          margin-left: 6px;
          margin-top: 0px;
          position: relative;
          top:0px;
        }
      }
    }

    .postViewData{
      left: 0px;

      @media (min-width: $screen-lg-min) {
        left: 0px;
      }

      span {
        position: relative;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        left: 10px;
        top: 0px;
      }

      img {
        @media (min-width: $screen-lg-min) {

          width: 25px;
          height: 23px;
          margin-left: 0px;
          margin-top: 0px;
          position: relative;
          top:0px;
        }
      }
    }
  }
}
