/*Footer MAIN style*/

footer {
  position: relative;
  width: 100%;

  .jackLove{
    width: 100%;
    height: 60px;
    display: block;
    margin: auto;
    max-width: 300px;
    background: url("../../dist/img/thelove.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .copyright {
    font-size: 1px;
    color: transparent;
    a{
      color: transparent;
    }
  }
}

/*Footer MAIN style*/

footer {
  position: relative;
  width: 100%;
}
.jackLove{
  width: 100%;
  height: 60px;
  display: block;
  margin: auto;
  max-width: 300px;
  background: url("../../dist/img/thelove.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;


}

.easyMoney {
  background: url("../../dist/img/easyMoney.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 28px;
  left: 44%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  display: block;
  position: absolute;
  transition: .17s linear;
}

.copyright {
  font-size: 1px;
  color: transparent;

  a{
    color: transparent;
  }
}

.cbutton--effect-tamara {
  position: absolute;
  left: 37%;
  top: 7px;
}





